#all
{
    margin: 0 auto;
    width: 1305px;
    background: lavender;
    border: black solid thin;
    overflow: auto;
}

#header
{
    background: #ADD8E6;
    padding: 20px;
}

#toolbar
{
    width: 100%;
    float: left;
}

#list
{
    width: 300px;
    border: black solid thin;
    float: left;
}

#main-panel
{
    width: 1000px;
    border: black solid thin;
    float: right;
}

ul.buttons
{
    list-style-type: none;
    display: inline;
}

ul.buttons li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #191970;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

ul.buttons li a:hover 
{ 
    background: #ADD8E6; 
}

li.horizontal
{
    float: right;
}

a.header{
    text-decoration: none;
    border: none;
}

a.header:hover{
    border: none;
}
body {
	font-family: verdana;
	font-size: 14px;
}

table {
	border-collapse: collapse;
}

table tr:hover {
	background-color: #ADD8E6;
}

/* table tr.szukaj {
	background-color: #DFDFDF;
} */

table th {
	background-color: #B0C4DE;
	padding: 4px;
	color: #191970;
	text-align: left;
}

table td {
	padding: 4px;
}

table td:first-child {
	background-color: #B0C4DE;
}

table.full {
	width: 100%;
}

a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px dotted #333;
}

a:hover {
	border-bottom: 1px solid #333;
}