#all
{
    margin: 0 auto;
    width: 1234px;
    background: lavender;
    border: black solid thin;
    overflow: auto;
}

#header
{
    height: 100px;
    background: #ADD8E6;
    padding: 20px;
}

#toolbar
{
    width: 100%;
    float: left;
}

#list
{
    width: 250px;
    height: 1050px;
    border: black solid thin;
    float: left;
    overflow:scroll;
}

.miniatura_container{
	margin:0% 4% 4% 17%;
	width:65%;
        

}

.miniatura{
        cursor: pointer;
	margin:2 2 2 2;
	width:100%;
        
        -moz-box-shadow: 4px 4px 2px #C0C0C0 ;
        -webkit-box-shadow: 4px 4px 2px #C0C0C0 ;
        box-shadow: 4px 4px 2px #C0C0C0 ;
}

#main-panel
{
    width: 980px;
    height: 1050px;
    border: black solid thin;
    float: left;
    overflow: auto;
}

ul.buttons
{
    list-style-type: none;
    display: inline;
}

ul.buttons li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #191970;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

ul.buttons li a:hover 
{ 
    background: #ADD8E6; 
}

li.horizontal
{
    float: right;
}

a.header{
    text-decoration: none;
    border: none;
}

a.header:hover{
    border: none;
}
body {
	font-family: verdana;
	font-size: 14px;
}

.tableWydanieKoszyk{
    width: 730px;
   margin-top: 20px;
   text-align:center;
    margin-left: 125px;
    border: solid 2px #191970;
    overflow: auto;
}
.tableWydanieKoszyk td{
    border: solid 1px #191970;
   
}

.tableWydanieKoszyk a{
    color:#191970;
    text-decoration: none;
    
}


table {
	border-collapse: collapse;
}

table tr:hover {
	background-color: #ADD8E6;
}

/* table tr.szukaj {
	background-color: #DFDFDF;
} */

table th {
	background-color: #B0C4DE;
	padding: 4px;
	color: #191970;
	text-align: left;
}

table td {
	padding: 4px;
}

table td.warning{
        background-color: #A52A2A;
        color: #FF3030;
}

table td:first-child {
	background-color: #B0C4DE;
}

table.full {
	width: 100%;
}

a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px dotted #333;
}

a:hover {
	border-bottom: 1px solid #333;
}

p.msg {
	margin: 15px 0;
	padding: 7px;
	background-color: #DAFFBF;
	border: 1px solid #3B7F07;
	color: #3B7F07;
}
.puste {
	background-color: #DF6F6F;
}